* {
    --loud-color: red;
    --fluid-color: black;
    --background-color: white;
    margin: 0;
    padding: 0;
}

body {
  background-color: var(--background-color);
}

.header {
    color:var(--loud-color);
    text-transform: uppercase;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 20px auto;
}
.header p {
    font-weight: 900;
}

h2 {
    color: var(--fluid-color);
    /* text-align: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    margin: 20px;
    margin-top: 50px;
}

h3 {
    color: var(--fluid-color);
    /* text-align: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    margin-top: 30px;
    /* margin-top: 30px; */
}

table {
    width: 500px;
    margin: 0 auto;
}

table td{
    text-align: center;
}


#main-title {
    margin-top: 10px;
    font-size: 200px;
}

#main-subtitle {
    font-size: 100px;    
}

.chapter #book-title {
    font-size: 100px;
}

.chapter #chapter-title {
    font-size: 150px;
}

.menu {
    display: inline-block;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    width: 700px;
    margin: 0 auto;
    text-align: justify;
}

.main.text p {
    margin: 20px;
    
}

.main li {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 50px;
    width: 500px;
    line-height: 27px;
}

figure {
    margin: 20px;
}

figure h6 {
    font-size: small;
    font-style: italic;
}

#chapters {
  position: relative;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

#chapters a {
  background: var(--loud-color);
  border: 1px solid var(--loud-color);
  border-radius: 0pt;
  color: var(--background-color);
  display: inline-block;
  margin: 10px;
  padding: 50px;
  text-decoration: none;
}

#chapters a:hover {
  background: var(--background-color);
  border: 1px solid var(--loud-color);
  color: var(--loud-color);
}


.chapter-header {
    color: var(--loud-color);
}

.first-letter {
    color: var(--background-color);
    background-color: var(--loud-color);
    border-radius: 2px;
    box-shadow: 3px 3px 0 var(--fluid-color);
    font-size: 250%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
}